@tailwind base;
@tailwind components;
@tailwind utilities;
 html ,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 }

@media (prefers-color-scheme: dark) {
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
